# Environment Variable Overrides for Laughing Pig Solar Monitor
# Copy to .env if you wish to override config.yaml via environment variables

LPSM_CLASSIC_HOST=192.168.42.129
LPSM_WEBBOX_HOST=192.168.42.127
LPSM_MQTT_BROKER=192.168.42.184
LPSM_MQTT_PORT=1883
LPSM_MQTT_USER=
LPSM_MQTT_PASSWORD=
LPSM_WEB_PORT=8050
LPSM_POLL_INTERVAL=10
